<!DOCTYPE html>
<html>
<head>
  <title>Tapper</title>
  <link rel="stylesheet" type="text/css" href="/styles/tapper.css">
   <script type="text/javascript" src="/socket.io/socket.io.js"></script>
   <script type="text/javascript" src="/scripts/script.js"></script>
   <script type="text/javascript" src="/scripts/jquery-1.11.2.min.js"></script>
</head
  
<body>
  <h1>Tapper</h1>
  <h2>Saved files</h2>
  <% for (var i = 0; i < file_titles.length; i++) { %>
  <a href="/view?id=<%= i %>"><%= file_titles[i] %></a><br>
 <% } %> 
<div class=create>
  <h2>New session</h2>
<label for="name">Session name:</label>
  <input type="text" name="name" id="name"><br>
  <label for="desc">Session description:</label>
    <textarea name="desc" id="desc"></textarea><br>
    <button id=create>Create</create>
</div>

</body>
</html>
