<!DOCTYPE html>
<html>
<head>
  <title>Tapper</title>
  <link rel="stylesheet" type="text/css" href="/styles/tapper.css">
   <script type="text/javascript" src="/socket.io/socket.io.js"></script>
   <script type="text/javascript" src="/scripts/script.js"></script>
   <script type="text/javascript" src="/scripts/jquery-1.11.2.min.js"></script>
</head
  
<body>
  <div class=content>
  <h1>Tapper</h1>
  <div class=files>
    <h2>Saved recordings</h2>
     <% if (hasfiles) {%>
  <% for (var i = 0; i < file_titles.length; i++) { %>
  <div class=file><a href="/view?id=<%= i %>"><%= file_titles[i] %></a></div>
 <% } %> 
 <% } else {%> 
   
   <div class=file>No recorded files</div>
   
   <% } %> 
</div>
<a href="#" id=toggle>Create new recording</a>
<div class=create id=createpanel>
  <div class=recording id=recording>Recording</div>
  <h2>New session</h2>
<label for="name">Name</label>
  <input type="text" name="name" id="name"><br>
  <label for="desc">Description</label>
  <input type="text" name="desc" id="desc"><br>
    <button id=start>Start recording</create>
    <button id=stop>Stop recording</create>
</div>
<div>
</body>
</html>
