<!DOCTYPE html>
<html>
<head>
  <title>Tapper</title>
  <link rel="stylesheet" type="text/css" href="/styles/tapper.css">
   <script type="text/javascript" src="/scripts/socket.js"></script>
<script>
  var socket = io();
  </script>
</head
  
<body>
  <h1>Tapper</h1>
  <h2>Saved files</h2>
  <br>
  <% console.log("in ejs"+file_titles.length)%>
  <% for (var i = 0; i < file_titles.length; i++) { %>
  <a href="/view?id=<%= i %>"><%= file_titles[i] %></a><br>
 <% } %> 

</body>
</html>
